/* Reset padrão */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


.body-container{
    background-color: azure;
}

.header-container{
    width: 100vw;
    height: 200px;

    background-color: darkblue;
    padding-top: 10px;
    text-align: center;
}

.header-container a{
    /* display: inline-block; */
    background-color: antiquewhite;
    margin: 10px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
}